span.redex {
  background-color: rgba(255, 172, 48, 0.2);
  padding-top:    0.1em;
  padding-bottom: 0.1em;
  border-radius: 0.2em;
  border-color: #ffb330;
  border-width: 0.1em;
  border-style: solid;
}

span.redex span.func {
  color: red;
}

span.redex span.arg {
  color: blue;
}

h1 {
  font-size: 150%;
  margin: 0px;
  padding: 0px;
  color: black;
}

input#exp, textarea, div#result, pre {
  font-family: "Anonymous Pro", "Source Code Pro", "Courier New", monospace;
  font-size: 100%;
}

label:after {
  content: ": ";
}

textarea#decls {
    width: 68%;
    height: 15em;
    overflow: scroll;
}

div.d, div.e {
  position: relative;
  width: 100%;
/*  display: table-cell; */
}


div.e input#exp {
  width: calc(68% - 16em);
}
div.e input#eval {
  width: 10em;
}
div.e input#stop {
  width: 6em;
}



/*div#d_error {
    float : left;
    margin-left: 2%;
    width: 28%;
}*/

div.error {
  position: absolute;
  display: inline-block;

  top:    2em;
  bottom: 0;
  left: 70%;
  width: 28%;
  z-index: 2;
}

div.error h2 {
  color: white;
  margin-top:    0em;
  margin-bottom: 0.1em;
  margin-left:   0px;
  font-size:     1.3em;
}

div.error pre {
  margin-top:    0.1em;
  margin-bottom: 0.1em;

  white-space: pre-wrap;
}

div.error div.error_balloon {
  position: relative;
  display: block;

  color: white;

  padding: 0.2em 0.4em;
  margin: 0.5em 0;
  background-color: rgb(221, 0, 0);
  border-radius: 0.3em;
}

#result {
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  height: 16em;

  margin-top: 0.5em;

  padding-top: 0.2em;
  padding-bottom: 0.2em;

  background-color: #fef9ef;
}

#result > div {

  white-space: pre;

  counter-reset: lines;

  /*border-color: black;
  border-width: 0.1em;
  border-style: solid;*/
  /*display: table; */
}

div.line {
  margin:  0px;
  padding: 0px;
  /* display: table-row; */
  /*clear: both;*/
}

div.line_body {
  padding-top:    0.3em;
  padding-bottom: 0.4em;
  /*position: relative;*/
  /* display: inline; */
  /* display: table-cell; */
}

/*
@media screen and (min-width: 700px) {
  div.line:before {
    counter-increment: lines;
    content: counter(lines);
    display: inline-block;

    padding-top:    0.3em;
    padding-bottom: 0.4em;

    width:  2em;
    height: 100%;
    background-color: rgb(255, 237, 207);
    margin: 0px;

    padding-right: 0.3em;
    text-align: right;

    color: #999;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #999;

  }
}*/

div.line div.line_body:before {
  display: inline-block;
  content: "";
  text-align: right;
  width:   2em;
}

div.line_body {
  display: inline-block;
}

div.line + div.line div.line_body:before {
  display: inline-block;
  content: "\002192  ";
  text-align: right;
  width:   2em;
}

div.line:hover {
  background-color: rgb(255, 235, 176);
}

/*
div.error div.error_balloon:before {
  position: absolute;
  content: "";
  left: -1em;
  margin-top: -1em;
  margin-bottom: 1em;
  top: 50%;
  width: 0px;
  height: 0px;
  border-right:  1em solid rgb(221,0,0);
  border-top:    1em solid transparent;
  border-bottom: 1em solid transparent;
}
*/
/*
div#e_error div.error_balloon:before {
  position: absolute;
  content: "";
  top: -1em;
  margin-left: -1em;
  left: 50%;
  width: 0px;
  height: 0px;
  border-bottom: 1em solid rgb(221,0,0);
  border-left:   1em solid transparent;
  border-right:  1em solid transparent;
}
*/

input {
  font-size: 100%;
}


#result {
  clear: both;
  font-family: monospace;
  line-height: 1.3em;
}


span.hovering {
  background-color: rgb(255, 215, 215);
}
span.paren > span.lp {
    color: #CC8833;
}

span.paren.hovering > span.lp {
  color: #F00;
  font-weight: bold;
}

span.paren > span.rp {
    color: #CC8833;
}

span.paren.hovering > span.rp {
  color: #F00;
  font-weight: bold;
}
